body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
    overflow-x: hidden;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
img{
    height: 100%;
    width: 100%;
    mix-blend-mode: soft-light;
    display: block;
    object-fit: cover;
}
h1{
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
}
h1 span{
    color: hsl(277, 64%, 61%);
}
.container-flex{
    width: 90%;
    max-width: 1200px;
    margin: 8em auto;
    display: flex;   
    flex-direction: column-reverse;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    /* border: 2px solid green; */
}

.card-content p{
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
}
.card-content{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content{
    /* border: 2px solid green; */
    width: 75%;
    height: 80%;
    text-align: left;
}
.card-image{
    width: 100%;
    max-width: 580px;
    background-color: hsl(277, 64%, 61%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: max-content;
    margin: 0 auto;
    /* border: 2px solid green; */
}
li{
    margin: 1em 0;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: center;
    /* border: 2px solid red; */
}
li span{
    display: block;
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
}
@media (min-width:768px) {
    .container-flex{
        flex-direction: row;
        width: 75%;
    }
    ul{
        flex-direction: row;
        justify-content: space-between;
        margin: 4em 0 0 0;
        width: 85%
    }
    li{
        /* padding: 3em 0; */
        margin: 0;
        width: 20%;
        text-align: left;
    }
    .card-image{
        width: 50%;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    .card-content{
        width: 50%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .card-content p{
        text-align: left;
    }
    h1{
        text-align: left;
    }
    .content{
        width: 70%;
        margin: 5em 0;
    }
}